.content{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 2rem 0;
    margin-top: 2rem;
    margin-bottom: 3rem;
    box-shadow: 7px 13px 10px 10px rgba(0,0,0,0.63);
}
.content .left img{
    max-width: 400px;
}
.content .right{
    line-height: 1.8;
    color: #333;
    font-size: 1.1rem;
    padding: 5px;
    min-width: 400px;
    max-width: 450px;
    text-align: center;
}
.content .right h2{
    font-weight: 500;
}
.content .right span{
    color: #888;
}
.content .right p{
    font-size: 0.9rem;
}
.content .right .button a{
    width: 250px;
    padding: 0;
    background: crimson;
}
.content .right strong{
    display: flex;
    gap: 10px;
}
.content .right strong span{
    color: crimson;
}
.content .old-price{
    color: #555;
    text-align: center;
    justify-content: center;
}
.content .price{
    justify-content: center;
}
.content .right .button a:hover{
    padding: 0 5rem;
    background: #333;
}
